* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.MainContainer {
    display: flex;
    justify-content: space-between; 
    gap: 5px; 
    background-color: white;
    height: 4rem;
    border-bottom: 2px solid rgb(89, 87, 87);
}
/* 
.StatePinCode {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.StatePinCode h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */



/* This is For FurnitureWala Menus  */

/* .FurniturewaleMenus ul {
    display: flex;
    gap: 25px;
    margin-left: 50px;
    font-size: 1.2rem;
}

.FurniturewaleMenus li {
    margin: 20px; 
    cursor: pointer; 
} */

/* This is Submenus of furniturewala */

/* .AllRentSubMenu {
    display: flex;
    flex-direction: column; 
} */



/* .RentSubmenus{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    z-index: 1005;
    height: 550px;
    max-height: 100%; 
    flex-wrap: nowrap;
    position: absolute; 
    margin-top: 13px; 
    width: 1350px;
} */




/* .RentSubmenus li {
    
    font-size: 1.1rem;
    color: black;
    padding: 0px;
    margin: 0px;  
    padding-left: 10px;
    line-height: 2px;
    margin-top: 10px;
    cursor: pointer;
}


.RentSubmenus li:hover {
  color: rgb(2, 184, 145);
} */


/* ===========================
   Top Navigation
=========================== */




.FurniturewaleMenus > ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-left: 145px;
}

.FurniturewaleMenus > ul > li {
    position: relative;
    cursor: pointer;
    padding: 0px 10px;
    /* background-color: red; */
    height: 40px;
    z-index: 1;
    margin-top: -25px;
    font-size: 1.2rem;
}

/* ===========================
   Mega Menu
=========================== */



.RentSubmenus {
    position: absolute;
    top: 88%;
    left: 0;

    width: 1299px;
    min-height: 550px;

    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    padding: 30px;

    z-index: 1005;

    /* Hide by default (optional) */
    /* display: none; */
}

/* Show on Hover */

/* .FurniturewaleMenus > ul > li:hover .RentSubmenus{
    display:flex;
} */

/* ===========================
   One Column
=========================== */

.AllRentSubMenu{
    flex:1;
}

/* ===========================
   Heading
=========================== */

.AllRentSubMenu h4{
    margin-left: 0px;
    color: rgb(2,184,145);
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ===========================
   List
=========================== */

.AllRentSubMenu ul{
    list-style:none;
    padding:0;
    margin:0;
}

.AllRentSubMenu li{
    color:#444;
    font-size:1rem;
    line-height: 23px;
    margin:10px 0;
    cursor:pointer;
    transition:.25s;
}

.AllRentSubMenu li:hover{
    color:rgb(2,184,145);
    /* transform:translateX(4px); */
}








/* ===========================
   Buy Menu
=========================== */



.BuySubmenus {
    position: absolute;
    top: 88%;
    left: 0;
    width: 950px;
    min-height: 450px;

    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    padding: 20px 15px;
    z-index: 1005;

    /* Hide by default (optional) */
    /* display: none; */
}

/* Show on Hover */

/* .FurniturewaleMenus > ul > li:hover .RentSubmenus{
    display:flex;
} */

/* ===========================
   One Column
=========================== */

.AllBuySubMenu{
    flex:1;
}

/* ===========================
   Heading
=========================== */

.AllBuySubMenu h4{
    margin-left: 0px;
    color: rgb(2,184,145);
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ===========================
   List
=========================== */

.AllBuySubMenu ul{
    list-style:none;
    padding:0;
    margin:0;
}

.AllBuySubMenu li{
    color:#444;
    font-size:1rem;
    margin:10px 0;
    line-height: 23px;
    cursor:pointer;
    transition:.25s;
}

.AllBuySubMenu li:hover{
    color:rgb(2,184,145);
    /* transform:translateX(4px); */
}


.AdminIcon {
    position: absolute;
    right: 25px;
    /* background-color: brown; */
    height: 20px;
    margin-top: 22px;
    margin-right: 20px;
    /* background-color: red; */
    height: 50px;
    width: 60px;
    /* border: 1px solid black; */
    /* background-color: red; */
    padding-left: 15px;
}

.AdminUser {
    /* padding: 4px; */
    font-size: 1.3rem;
    cursor: pointer; 
    transition: 0.4s ease;
    /* margin-left: 20px; */
}

.AdminUser:hover {
    /* transform: scale(1.1); */
    color: rgb(2,184,145); ;
}

.UserOptions {
    position: absolute;
    right: -45px; 
    width: 210px;
    /* padding: 10px; */
    top: 40px;
    /* background-color: brown; */
    background-color: whitesmoke;
    z-index: 1005;
    height: 245px;
    border: 1px solid black;
    /* border-radius: 20px; */
}

.UserOptions h4 {
    font-size: 1.1rem;
    padding: 10px;
}



.UserOptions li {
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.UserOptions li:hover {
    background-color: rgba(2, 184, 145, 0.156); ;
}

#AdminLogin {
    color: rgb(2,184,145); ;
}
#AdminLogin:hover {
    background-color: whitesmoke;
}





.PinCodeArea {
    display: flex;
    align-items: center;
}

.PinCodeArea b {
    margin-top: 20px;
    text-decoration: underline;
}


.hamburgerIcon {
    font-size: 1.8rem;
    border: 1px solid (173, 170, 170);
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease; 
    margin-left: 20px;
    margin-top: 20px;
}

.hamburgerIcon:hover {
    transform: scale(1.04);
    border-color: black;
}



.PinCodeCityHint {
    margin-left: 50px;
}




h1 {
    font-size: 1.6rem;
    /* color: goldenrod; */
    color: rgb(2, 184, 145);
    text-align: center;
    margin: 15px auto; 
    cursor: pointer; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.HomeLink {
    margin-top: 5px;
    margin-left: 120px;
    text-decoration: none; 
}


/* SearchBarArea  */

.SearchBar {
    /* background-color: brown; */
    height: 48px;
    max-height: 100%;
    width: 350px;
    max-width: 100%;
    margin-top: 7px;
    margin-left: 100px;
    border-radius: 10px; 
    /* border: 1px solid rgba(0, 0, 0, 0.499); */
    background-color: rgba(216, 216, 216, 0.462);
    position: relative; 
}

.SearchBar input {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    overflow: hidden;
    border-radius: 10px;
    outline: none; 
    border: none;
    padding-left: 10px;
    background-color: transparent;
    font-size: 0.87rem;
    margin-top: 0px;
    border: 1px solid whitesmoke;
}

.SearchBar input:focus {
    outline: 2px solid #047992;
}

.SearchBar input:hover {
        outline: 2px solid #047992;
}

.MainSearchIcon {
    position: absolute;
    right: 5px;
    top: 11px;
    font-size: 1.4rem;
    font-weight: bolder;
    border-left: 2px solid rgba(0, 0, 0, 0.151);
    /* background-color: red; */
    width: 38px;
    color: rgba(0, 0, 0, 0.611);
    cursor: pointer;
}















/* SideBar  */

 /* .SideBar {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: aliceblue;
    width: 300px;
    max-width: 80%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    z-index: 999;
}  */

.SideBar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 577px;
    max-width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1005; 
    overflow: hidden;
    transition: transform 0.4s ease;
}


.ShowSideBar {
    transform: translateX(0%);
}

.HideSideBar {
    transform: translateX(-100%); 
}


.first {
    /* background: linear-gradient(295deg, green, darkgreen, rgba(4, 4, 4, 0.849)); */
    height: 170px;
    /* background: linear-gradient(135deg, #141e30, #243b55); */
    background: white;

}


.Cancelicon {
    font-size: 2.8rem; 
    background-color: transparent;
    color: rgba(0, 0, 0, 0.595);
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    right: 20px;
    top: 15px; 
    /* border: 1.5px solid gainsboro; */
    cursor: pointer;
}

/* .usericon {
    background-color: rgb(229, 164, 0);
    border-radius: 60%;
    color: black;
    font-size: 3rem;
    margin-top: 30px;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
} */

.first {
    /* background-color: red; */
    height: 140px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.first h1 {
    text-align: center;
    margin-left: 10px;
    color: black;
    font-weight: 400;
    font-size: 1.9rem;
    margin-top: 80px;
}

.PinCodeInputArea {
    /* background-color: brown; */
    width: 75%;
    max-width: 100%;
    margin: 0px auto;
    height: 65px;
    max-height: 100%;
    border-radius: 50px; 
    background-color: white;
    cursor: pointer;
    padding: 2px;
    position: relative;
}


/* .PinCodeInputArea:hover { 
    border: 1px solid #047992;
} */



.PinCodeRightArrow {
    position: absolute;
    right: 0px;
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 25px;
    margin-top: 5px;
    color: #047992;
}


.JustPinCode {
    display: flex;
    gap: 20px;
    align-items: center;
    /* border: 2px solid rgba(0, 0, 0, 0.173); */
    border-radius: 50px;
        transition: 0.4s ease;
    border: 1px solid rgba(0, 0, 0, 0.382);
    outline: none;

}



.JustPinCode:hover {
        border: 1.55px solid #047992;
}



.JustPinCode input {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    /* background-color: red; */
   
}

.JustPinCode input:focus {
    outline: 2px solid #047992;
    border-color: transparent; 
}

.CurrentStateCode p {
    margin: 10px 85px;
    width: 250px;
}


/* SelectYourCity  */

.SelectYourCity {
    margin-top: 60px;
}

.orDivider {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 80%;
  margin: 0px auto;
}

.orDivider .line {
  flex: 1;
  height: 1px;
  background-color: #b7d7f5; /* Light Blue Line */
}

.orDivider span {
  font-size: 1.2rem;
  color: #1d1d1d;
  white-space: nowrap;
  font-family: Georgia, serif; /* Optional */
}



.AllPinCities {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 450px;
    max-width: 100%;
    margin: 20px 70px;
    text-align: center;
}




.CityBox img {
    display: flex;
    width: 11vh;
    height: 10vh;
    cursor: pointer;
    padding: 5px;
}

.CityBox span {
    color: rgba(0, 0, 0, 0.597);
    
}




.Fourth h4 {
    /* background-color: red; */
    width: 200px;
    text-align: center;
    font-size: 1.8rem;
    margin: 50px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    /* background-color: red; */
    margin-bottom: 20px;
}

.ALlCities {
    display: flex;
    gap: 0px;
    margin-bottom: 80px;
    font-size: 1.1rem;
    
}

.ALlCities ul  {
    margin: 0px auto;
    cursor: pointer;
}



.sideBarMenus {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 0px; /* space for footer */
    margin: 10px 10px; 
        scrollbar-width: none;

}



.Shopcart {
    font-size: 2.1rem;
    /* border: 1px solid rgb(182, 179, 179); */
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease; 
    margin-right: 15px;
    margin-top: 15px;
}


.Shopcart:hover {
    transform: scale(1.04);
    border-color: black;
}












/* third */





.Accounticon {
    background-color: rgba(244, 83, 247, 0.693);
    font-size: 1.75rem;
    border-radius: 10px;
    padding: 3.9px;
}

.Ordericon {
    background-color: rgba(25, 170, 248, 0.693);
    font-size: 1.75rem;
    border-radius: 10px;
    padding: 3.9px;
}

.Wishlisticon {
    background-color: rgba(47, 242, 96, 0.542);
    font-size: 1.75rem;
    border-radius: 10px;
    padding: 3.9px;
}



.MyAccount, .Order , .Wishlist {
    width: 270px;
    max-width: 90%;
    /* width: 17rem; */
    height: 6.5vh;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    font-size: 0.71rem;
    color: #0f1724;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    cursor: pointer; 
    transition: 0.6s ease;
}

.MyAccount:hover {
    background-color: rgba(244, 83, 247, 0.693);
}


.Order:hover {
    background-color: rgba(25, 170, 248, 0.693);
}


.Wishlist:hover {
    background-color: rgba(47, 242, 96, 0.542);
}



/* overlay to blur  */

.overlay { 
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: auto; /* IMPORTANT */
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* dark layer */
    backdrop-filter: blur(5px);      /* blur effect */
    z-index: 998;
}




/* SIDECARTBAR  */


/* .RightCartBar {
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #141e30;
    width: 350px;
    max-width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 999; 
    overflow: hidden;
    scrollbar-width: none;
} */

.RightCartBar {
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: #141e30; */
    background-color: whitesmoke;
    width: 350px;
    max-width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow: hidden;
    transition: transform 0.4s ease;
}


.ShowCartBar {
    transform: translateX(0%);
}

.HideCartBar {
    transform: translateX(100%); 
}


.Head {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(8, 8, 8);
    height: 8vh;   
}

.CartBarCart {
    font-size: 1.5rem;
    color: white;
    margin-top: 21px;
    margin-left: 10px;
}

.Head h1 {
    position: absolute;
    top: 2px;
    left: 40px;
    /* color: goldenrod; */
    color: White;
}


.CartClose {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.8rem;
    color: white;
    cursor: pointer; 
}

.CartBody {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15px; */
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    padding-bottom: 20px;
}


.BigCart {
    position: absolute;
    font-size: 4rem;
    top: 40%;
    left: 40%;
    /* color: gainsboro; */
}


.RightCartBar p {
    position: absolute;
    top: 50%;
    left: 30%;
   /* color: white; */
}

.BrowseShop {

    position: absolute;
    top: 55%;
    left: 25%;
}

.BrowseShop button {
    width: 180px;
    height: 6vh; 
    border-radius: 20px;
    border: none;
    background-color: brown; 
    color: white;
    cursor: pointer;
}





/* SideCartItem  */

.cartItem{
    position: relative;
    background-color: whitesmoke;
    width: 320px;
    height: 21vh;
    margin: 10px auto;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.564);

}

.cartItem:hover {
    transform: translateY(-5px);
}

.cartItem img {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.151);
    object-fit: cover;
    height: 80px;
    width: 80px;
    padding: 5px;
    border-radius: 15px;
}



.cartItem h4 {
    position: absolute; 
    top: 15px;
    left: 92px;
    width: 190px;
}

.cartItem p {
    color: rgb(2, 125, 33);
    font-size: 1.2rem;
    font-weight: bolder;
    position: absolute;
    top: 60px; 
    
}




.AddItemCancel {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 0.91rem;
    cursor: pointer; 
}

.AddItemCancel:hover {
    border-radius: 50%;    
   color: rgba(255, 0, 0, 0.578);
}




.RightSideoverlays {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.CartSidebar { 
    z-index: 100;
}


.Cartitemline {
    border: 0.1px solid rgba(0, 0, 0, 0.077);
    width: 290px;
    margin-top: 45px;
    margin-left: -80px;
    
}


.Minusbtn {
    color: rgba(83, 81, 81, 0.714);     
    font-size: 1.4rem;
    position: absolute;
    top: 115px;
    left: 20px;
    cursor: pointer;
}

.cartItem h5 {
    position: absolute;
    bottom: 20px;
    font-size: 1rem;
    left: 37px;
}

.Plusbtn {
     color: rgba(63, 63, 63, 0.556);
    font-size: 1.5rem;
    position: absolute;
    top: 115px;
    left: 60px;
    font-weight: bolder;
    cursor: pointer;
}
 
.totalprice {
    position: absolute; 
    margin-top: 60px;
    margin-left: 160px;
    /* background-color: palevioletred; */

}

.MobileMenuBar {
    display: none;
}

.MobileSearchBarDown {
    display: none;
}


@media screen and (min-width:320px) and (max-width:768px) {



    

    


.MainContainer {

    width: 100%;
    max-width: 100%;
    /* border: 2px solid red; */
}  

.MobileMenuBar {
    display: block;
    margin-top: 25px;
    margin-left: 13px;
    font-size: 1.1rem;
}

.hamburgerIcon {
    margin-left: 5px;
    position: absolute;
    left: 40px;
    margin-top: 22px;
    font-size: 1.6rem;
}

.PinCodeArea b {
    display: none;
}

.SideBar {
    width: 95%;
    max-width: 100%;
    z-index: 1005;

}





/* This is FurnitureMobileSection  */


.FurniturewaleMenus {
    position: absolute;
    left: 0px;
    margin-top: 20px;  
    background-color: whitesmoke;
    z-index: 100;
}



.FurniturewaleMenus ul {
    display: block; 
    flex-direction: column;
    align-items: left;
    margin-left: 0px;
    margin-top: 10px;  

}

.FurniturewaleMenus ul li {
    z-index: 100;
    cursor: pointer;
    /* background-color:red; */
    margin-top: 0px;
}

.FurniturewaleMenus ul li:hover {
    width: 100%;
    background-color: rgba(183, 186, 185, 0.179);
    color: rgb(2, 184, 145);
}

  



.MainContainer h1 {
    font-size: 1rem;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 120px;
    

}

.MobileSearchBarDown {
    display: block;
    position: absolute;
    right: 60px;
    margin-top: 25px;
    /* margin-left: 30px; */
    font-size: 1.2rem;
    /* background-color: red; */
}

.MainSearchBarSection {
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 100;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.303);
}

.SearchBar {
    background-color: whitesmoke;
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
    margin-top: 0px; 
    height: 40px;
}


/* .AdminUser {
    margin-left: 30px;
    font-size: 1rem;
    margin-top: 3px;
} */

.AdminIcon {
    background-color: #047992;
    margin-top: 100px;
    display: none;
}

.AdminUser {
    background-color: pink;
    display: none;
    margin-top: 100px; 
}

.UserOptions {
    display: none;
}

.Shopcart {
    font-size: 1.92rem;
    margin-top: 17px;
    margin-left: 45px;
}



.CartBarCart {
    font-size: 1.5rem;
    color: white;
    margin-top: 15px; 
    margin-left: 10px;
}

.Head h1 {
    position: absolute;
    top: -3px;
    left: 40px;
}

.CartClose {
    font-size: 1.5rem;
    margin-top: 2px;  
}

.cartItem{
    position: relative;
    background-color: whitesmoke; 
    width: 280px;
    height: 19vh;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s ease;

}



.cartItem:hover {
    transform: translateY(-5px);
}

.cartItem img {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.151);
    object-fit: cover;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 15px;
}



.cartItem h4 {
    position: absolute; 
    top: 10px;
    left: 60px;
    width: 200px;
    font-size: 0.92rem;
}

.cartItem p {
    font-size: 1.0rem;
    font-weight: bolder;
    position: absolute;
    top: 53px; 
    left: 75px;
  
     
}




.AddItemCancel {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 0.71rem;
    cursor: pointer; 
}

.AddItemCancel:hover {
    border-radius: 50%;    
   color: rgba(255, 0, 0, 0.578);
}



.Cartitemline {
    border: 0.1px solid rgba(0, 0, 0, 0.077);
    width: 290px;
    margin-top: 30px;
    margin-left: -80px;
    
}


.Minusbtn {
    color: rgba(83, 81, 81, 0.714);     
    font-size: 1.2rem;
    position: absolute;
    top: 90px;
    left: 5px;
    cursor: pointer;
}

.cartItem h5 {
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
    left: 28px;
}

.Plusbtn {
     color: rgba(63, 63, 63, 0.556);
    font-size: 1.2rem;
    position: absolute;
    top: 90px;
    left: 43px; 
    font-weight: bolder;
    cursor: pointer;
}
 
.totalprice {
    position: absolute;
    margin-top: 38px;
    margin-left: 140px;
    background-color: red; 
    

}


.RightCartBar {
    position: fixed;
    top: 0;
    right: 0px;
    background-color: #141e30;
    width: 380px;
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1100;
    overflow: hidden;
    transition: transform 0.4s ease;
    
}


.CartBody {
    height: 100%;
   
}


.BigCart {
    color: White;
}
.CartBody p {
    color: white; 
}



.qtynumber{
    position: absolute;
    top: 90px;
    margin-left: 0px;
    font-size: 1rem;
}

.ViewFullCart button {
    width: 200px;
    max-width: 85%;
    height: 5vh; 
    margin-left: 5px;
    border-radius: 1px;
    border: none;
    background-color: rgba(213, 43, 43, 0.979);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer; 
    font-weight: 700;
}


.BuyBtn button {

    width: 200px;
    max-width: 85%;
    height: 6vh; 
    max-height: 6vh;  
    margin-left: 15px; 
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(25, 19, 10, 0.979);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    cursor: pointer; 
    font-weight: 700;


}

} 


/* CartLastbox  */


.CartLastbox {
    margin-top: auto;
    width: 100%;
    min-height: 30vh;
    background-color: whitesmoke;
    flex-shrink: 0;

}



.SubtotalValue { 
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem; 
    padding: 12px; 
}


.CartLastline {
    border: 0.1px solid rgba(0, 0, 0, 0.077);
    width: 320px;
    margin-top: -68px;
    margin-left: -90px;
}



.TotalCartValue {
    display: flex;
    justify-content: space-between; 
    font-size: 1.2rem; 
    padding: 12px; 
    color: goldenrod;

}

.ViewFullCart button {
   
    width: 300px;
    height: 6vh; 
    margin-left: 25px;
    border-radius: 18px;
    border: none;
    /* background-color: rgba(213, 43, 43, 0.979); */
    background-color: rgba(56, 137, 34, 0.518);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer; 
    font-weight: 700;
}


.BuyBtn  button {

     width: 300px;
    height: 7vh; 
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 18px;
    border: none;
    background-color: rgba(25, 19, 10, 0.979);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer; 
    font-weight: 700;


}



/* Add to Cart notification  */


.cartContainer{
    display: none;
    position: absolute;
    width: fit-content;
    margin-top: 17px;
    margin-left: 5px;
    /* display: none; */
    right: 58px;
}

.cartIcon{
    font-size: 2rem;
}

.cartBadge{
    position: absolute;
    top: -10px;
    right: -48px;
    /* left: 1460px; */

    background-color: red;
    color: white;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;
}

