* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MainProductPage {
    /* display: flex; */
    /* background-color: brown; */
    height: auto;
    padding: 20px;
}


.TopedSection {
    display: flex;
}


.ProductRightSide {
    width: 100%;
    max-width: 40%;
    margin-left: 35px;
    display: flex;
    justify-content: left;
}
.ProductImagesBox {
    margin-top: 20px;
    background-color: whitesmoke;
    width: 100%;
    /* max-width: 40%; */
    height: 82vh;
    /* object-fit: cover; */
    /* height: auto;  */
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.312);
    overflow: hidden;
    
}

/* MAIN IMAGE ONLY */
.ProductImagesBox img {
    height: 70vh; 
    width: 100%;
    object-fit: cover; 
    display: block;
    
}

/* THUMBNAIL CONTAINER */
.OtherImages {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/* THUMBNAILS */
.OtherImages img {
    height: 8vh;
    width: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease; 
    border: 1px solid transparent;
}

/* HOVER EFFECT */
.OtherImages img:hover {
    transform: translateY(-3px);
    border: 1px solid black;
}




/* Details  */

.LeftSide {
    
    width: 100%;
    max-width: 100%;
    height: 90vh;
    margin-top: 15px;
    padding: 10px;
    margin-left: 30px;
    letter-spacing: 0px;
    line-height: 48px;

}

.LeftSide h2 {
    font-size: 3.1rem;
}


.Pricedbox {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}

.Pricedbox p {
    text-decoration: line-through;
    /* background-color: red; */
    width: 50px;
    font-size: 1.2rem;
    color: rgb(152, 146, 146);
}

.Pricedbox h4 {
    font-size: 1.6rem;
    color: green; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Pricedbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 232, 11, 0.158);
    width: 100%;
    max-width: 12%;
    height: 4vh;
    border-radius: 8px;
    font-size: 1.1rem;
    color: green;
}


.RatingBox {
    display: flex;
    margin-top: 15px;
    align-items: center;
    color: goldenrod; 
    text-align: center;
    background-color: cornsilk;
    border: 1px solid; 
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.195); */
    width: 100%;
    max-width: 30%;
    border-radius: 20px;
    height: 4vh;
    cursor: pointer; 
    transition: 0.4s ease;

}

.RatingBox:hover {
    transform: translateY(-3px);
     box-shadow: 2px 2px 20px cornsilk;
}

.RatingBox h3 {
    background-color: rgb(11, 119, 11);
    color: white;
    height: 3vh;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 20px;
    padding: 4px;
    font-size: 0.91rem;
    width: 100%;
    max-width: 25%;
    margin-left: 10px;
    justify-content: center;
}

.h3icon {
    display: flex;
    gap: 10px;
    margin-left: 5px;
    font-size: 0.71rem;
}

.FaStar, .FaStarHalfAlt, .FaRegStar {
    margin-left: 10px;
    font-size: 0.81rem;
}


.Quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.AddItems {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
}

.MinusBtn,
.PlusBtn {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    background: whitesmoke;
}

.MinusBtn {
    border-right: 1px solid rgba(152, 147, 147, 0.574);
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;
    height: 5vh; 
    transition: 0.2s ease;
}

.PlusBtn {
    border-left: 1px solid rgba(152, 147, 147, 0.574);
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    height: 5vh; 
    transition: 0.2s ease;
}

.MinusBtn:hover, .PlusBtn:hover {  
    background-color: rgba(225, 220, 220, 0.733);
}

.Qty {
    flex: 1;
    text-align: center;
}


.FeturesDetail {
    line-height: 10px;
    color: rgba(0, 0, 0, 0.616);
    font-size: 1.05rem; 
}

/* button areas  */

.ButtonsArea {
    display: flex;
    gap: 40px;
}

.ProductToCart {
    position: relative;
    background-color: whitesmoke;
    width: 100%;
    max-width: 40%;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.175);
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.134);
    cursor: pointer; 
    transition: 0.4s ease;
    
}

.ProductCart {
   margin-top: 17px;
   margin-left: 90px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
    
}

.ProductToCart button {
    position: absolute;
    left: 125px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.1rem;
    height: 8vh;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.559);
    cursor: pointer; 
    transition: 0.4s ease;
}

.ProductToCart:hover {
    border: 1px solid green;
     transform: translateY(-3px); 
}

.ProductToCart:hover button,
.ProductToCart:hover .ProductCart {
    color: green;
   
}


.BuyNow {
    width: 100%;
    max-width: 50% ;
}

.BuyNow button {
     position: relative;
    background-color: black;
    color: white; 
    width: 100%;
    max-width: 80%;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.175);
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.134);
    cursor: pointer; 
    transition: 0.3s ease;
    font-size: 1.2rem;
}

.BuyNow button:hover {
    /* border: 1px solid green; */
     transform: translateY(-3px); 
}


/* DeliveryTime  */

.DeliveryTime {
    border: 1px dotted black;
    margin-top: 30px;
    width: 100%;
    max-width: 85%;
    height: 12vh;
    line-height: 20px;
    border-radius: 20px;
}

.Delivery {
    padding: 15px 20px;
    display: flex;
    gap: 10px;
}

.Days {
    /* padding: 20px; */
    margin-left: 20px;
    display: flex;
    gap: 10px;
}


.Delivery h3, .Days h3 {
    color: rgba(0, 0, 0, 0.507);
}

.Delivery p, .Days p {
    margin-top: 1px;

}

/* OurProductDetails */

.OurProductDetails {
    margin-top: 0px;
    padding: 30px; 
    width: 100%;
    max-width: 75%;
}

.OurProductDetails h2 {
    padding-left: 10px;
}

.OurProductDetails h5 {
   margin-top: 15px;
   font-size: 1.5rem;
   color: rgba(0, 0, 0, 0.556);
}

.OurProductDetails p {
    margin-top: 5px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.797);
}


.OurProductDetails h6 {
    font-size: 1.1rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.927);
}

.SpecialPara {
    width: 100%;
    max-width: 60%;
}


.FirstUl {
    margin-top: 5px;
    list-style: none;
    line-height: 30px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.652);
}


.KeyFetauresofQuran {
    margin-top: 20px;
    font-size: 1.1rem;
}

.KeyFetauresofQuran h3 {
    margin-top: 15px;
}


.Why ul, li {
    margin-top: 20px;
    list-style: none;
}




@media screen and (min-width:320px) and (max-width:768px) { 
    



.MainProductPage {
    /* background-color: brown; */
    padding: 0px;
}

.TopedSection {
    display: block;
}

.ProductRightSide {
    height: auto;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
    /* background-color: yellow; */
}


.ProductImagesBox {
    margin-top: 0px;
    background-color: whitesmoke;
    width: 100%;
    /* max-width: 40%; */
    height: 70vh;
    /* object-fit: cover; */
    /* height: auto;  */
    border-radius: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.312);
    overflow: hidden;
    padding: 10px;
    
}

/* MAIN IMAGE ONLY */
.ProductImagesBox img {
    height: 55vh; 
    width: 100%;
    object-fit: cover; 
    display: block;
    
}

/* THUMBNAIL CONTAINER */
.OtherImages {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 10px;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

}

/* THUMBNAILS */
.OtherImages img {
    height: 8vh;
    width: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease; 
    border: 1px solid transparent;
}

/* HOVER EFFECT */
.OtherImages img:hover {
    transform: translateY(-3px);
    border: 1px solid black;
}







.LeftSide  {
    margin-left: 0px;
}

.LeftSide h2 {
    font-size: 3rem;
    width: 360px;
    font-size: clamp(2rem, 5vw, 3rem);
    width: min(360px, 100%);
}


.RatingBox {
    display: flex;
    margin-top: 15px;
    align-items: center;
    color: goldenrod; 
    text-align: center;
    background-color: cornsilk;
    border: 1px solid; 
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.195); */
    width: 100%;
    max-width: 65%;
    border-radius: 20px;
    height: 4.2vh;
    cursor: pointer; 
    transition: 0.4s ease;

}

.RatingBox:hover {
    transform: translateY(-3px);
     box-shadow: 2px 2px 20px cornsilk;
}

.RatingBox h3 {
    background-color: rgb(11, 119, 11);
    color: white;
    height: 3vh;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 20px;
    padding: 4px;
    font-size: 0.91rem;
    width: 100%;
    max-width: 18%;
    margin-left: 10px;
    justify-content: center;
}

.h3icon {
    display: flex;
    gap: 10px;
    margin-left: 5px;
    font-size: 0.75rem;
}

.FaStar, .FaStarHalfAlt, .FaRegStar {
    margin-left: 10px;
    font-size: 0.90rem;
}

.Pricedbox {
    display: flex;
    gap: 12px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}

.Pricedbox p {
    text-decoration: line-through;
    /* background-color: red; */
    width: 50px;
    font-size: 1.2rem;
    color: rgb(152, 146, 146);
}

.Pricedbox h4 {
    margin-top: 10px;
    font-size: 1.6rem;
    color: green; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Pricedbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 232, 11, 0.158);
    width: 100%;
    max-width: 22%;
    height: 4vh;
    border-radius: 8px;
    font-size: 1.1rem;
    color: green;
    margin-top: 10px;
}


.Quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.AddItems {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
}

.MinusBtn,
.PlusBtn {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    background: whitesmoke;
}

.MinusBtn {
    border-right: 1px solid rgba(152, 147, 147, 0.574);
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;
    height: 5vh; 
    transition: 0.2s ease;
}

.PlusBtn {
    border-left: 1px solid rgba(152, 147, 147, 0.574);
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    height: 5vh; 
    transition: 0.2s ease;
}

.MinusBtn:hover, .PlusBtn:hover {  
    background-color: rgba(225, 220, 220, 0.733);
}

.Qty {
    flex: 1;
    text-align: center;
}


.FeturesDetail {
    line-height: 16px;
    color: rgba(0, 0, 0, 0.616);
    font-size: 1.01rem; 
    width: 300px;
}

/* button areas  */

.ButtonsArea {
    /* display: flex; */
    gap: 40px;
    margin-left: 20px;
}

.ProductToCart {
    position: relative;
    background-color: whitesmoke;
    width: 100%;
    max-width: 40%;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.175);
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.134);
    cursor: pointer; 
    transition: 0.4s ease;
    
}

.ProductCart {
   margin-top: 0px;
   margin-left: 0px;
    font-size: 1.5rem;
    color: rgba(253, 252, 252, 0.54);
    
}

.ProductToCart button {
    position: relative;
    left: -10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1rem;
    height: 8vh;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.559);
    cursor: pointer; 
    transition: 0.4s ease;
}

.ProductToCart:hover {
    border: 1px solid green;
     transform: translateY(0px); 
}

.ProductToCart:hover button,
.ProductToCart:hover .ProductCart {
    color: white;
   
}


.BuyNow {
    width: 100%;
    max-width: 50% ;
}

.BuyNow button {
     position: relative;
    background-color: black;
    color: white; 
    width: 100%;
    max-width: 80%;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.175);
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.134);
    cursor: pointer; 
    transition: 0.3s ease;
    font-size: 1.2rem;
}

.BuyNow button:hover {
    /* border: 1px solid green; */
     transform: translateY(-3px); 
}


/* DeliveryTime  */

.DeliveryTime {
    border: 1px dotted black;
    margin-top: 30px;
    width: 100%;
    max-width: 85%;
    height: 12vh;
    line-height: 20px;
    border-radius: 20px;
}

.Delivery {
    padding: 15px 20px;
    display: flex;
    gap: 10px;
}

.Days {
    /* padding: 20px; */
    margin-left: 20px;
    display: flex;
    gap: 10px;
}


.Delivery h3, .Days h3 {
    color: rgba(0, 0, 0, 0.507);
}

.Delivery p, .Days p {
    margin-top: 1px;

}

/* OurProductDetails */

.OurProductDetails {
    margin-top: 190px; 
    padding: 10px 0px; 
    width: 100%;
    max-width: 95%;
    text-align: left;
}

.OurProductDetails h2 {
    padding-left: 10px;
}

.OurProductDetails h5 {
   margin-top: 15px;
   font-size: 1.5rem;
   color: rgba(0, 0, 0, 0.556);
   
}

.OurProductDetails p {
    padding-left: 10px;
    margin-top: 5px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.797);

}


.OurProductDetails h6 {
    font-size: 1.1rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.927);
}

.SpecialPara {
    width: 100%;
    max-width: 60%;
}


.FirstUl {
    margin-top: 5px;
    list-style: none;
    line-height: 30px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.652);
}


.KeyFetauresofQuran {
    margin-top: 20px;
    font-size: 1.1rem;
}

.KeyFetauresofQuran h3 {
    margin-top: 15px;
}


.Why ul, li {
    margin-top: 20px;
    list-style: none;
}












}